.all-cars {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.item-car {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    border: #282c34 solid 10px;
}